# NYC Open Data API

Accessing datasets on Open Data via the Socrata API.

## 1. No sign-in required
This works for any public dataset.

In [1]:
import pandas as pd

In [2]:
# download master dataset from open data with filters from the last two years

url = 'https://data.cityofnewyork.us/resource/bnx9-e6tj.json'
filters = "?$limit=10000000&record_type=A&doc_type=DEED&\
$where=document_date>'2017-02-27T00:00:00.000'"

master = pd.read_json(url+filters)
master.shape

(127989, 14)

In [3]:
master.head()

,crfn,doc_type,document_amt,document_date,document_id,good_through_date,modified_date,percent_trans,record_type,recorded_borough,recorded_datetime,reel_nbr,reel_pg,reel_yr
0,2017000071949,DEED,1700000.0,2017-03-14T00:00:00.000,2017021600440001,2017-02-28T00:00:00.000,2017-02-22T00:00:00.000,100.0,A,1,2017-02-22T00:00:00.000,0,0,0
1,2017000108084,DEED,30000.0,2017-03-02T00:00:00.000,2017031700910002,2017-03-31T00:00:00.000,2017-03-20T00:00:00.000,100.0,A,1,2017-03-20T00:00:00.000,0,0,0
2,2017000123134,DEED,1025000.0,2017-03-23T00:00:00.000,2017032900884001,2017-03-31T00:00:00.000,2017-03-30T00:00:00.000,100.0,A,1,2017-03-30T00:00:00.000,0,0,0
3,2017000114960,DEED,0.0,2017-03-21T00:00:00.000,2017032301168001,2017-03-31T00:00:00.000,2017-03-24T00:00:00.000,100.0,A,1,2017-03-24T00:00:00.000,0,0,0
4,2017000105421,DEED,420000.0,2017-03-09T00:00:00.000,2017031300882001,2017-03-31T00:00:00.000,2017-03-17T00:00:00.000,100.0,A,4,2017-03-17T00:00:00.000,0,0,0

## 2. Socrata sign-in required
Use this for any private datasets

In [4]:
from sodapy import Socrata
import opendata as od #storing passwords here

def socrata():
    '''
    return an open data dataset given by uid
    needed for datasets that are not public
    '''
    request = Socrata('nycopendata.socrata.com', od.socrata_key,
               username = od.socrata_username,
               password = od.socrata_pswd)

    return request

In [5]:
veh = pd.DataFrame(socrata().get('t73f-7zve',limit=1000000))
veh.shape

(6138, 23)

In [6]:
veh.count()

accident_date                  6138
accident_time                  6138
accident_vehicle               6138
contributing_factor_1          5883
contributing_factor_2          5848
driver_license_jurisdiction    4694
driver_license_status          4653
driver_sex                     4821
point_of_impact                5810
pre_accident                   5823
public_property_damage         6138
public_property_damage_type      47
state_registration             5587
travel_direction               5877
unique_key                     6138
vehicle_damage                 5768
vehicle_damage_1               3699
vehicle_damage_2               2813
vehicle_damage_3               2172
vehicle_make                   5507
vehicle_occupants              5664
vehicle_type                   5702
vehicle_year                   5475
dtype: int64